<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ретро-Маркет{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark text-white min-vh-100">
            {% include "catalog/menu.html" %}
        </nav>
        <main class="col-md-10 ms-sm-auto px-4">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>
