{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="py-4 text-center">
  <h2>{{ product.name }}</h2>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"
     style="aspect-ratio: 1/1; object-fit: contain; width: 100%;">
          {% endif %}
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Цена:</strong> {{ product.price }} руб.</p>
    {% if can_edit %}
      <a href="{% url 'product_edit' product.pk %}" class="btn btn-warning">Редактировать</a>
      <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}

  </div>
</div>
{% endblock %}
